@tailwind base;
@tailwind components;
@tailwind utilities;
// @import "bootstrap/scss/bootstrap";

//login/registration page background
@import './partials/dashboard.scss';


// apply css classes here


//side bar background
.sidebarBg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../public//images/sidebar-1.jpg');
  background-color: rgb(37, 36, 36);
  background-blend-mode: multiply;
}

.main {
  h1 {
    @apply text-[blueviolet] text-[25px] text-center mt-10
  }
}

//button design
.btnBtmBoder {
  width: 10px;
  border-bottom: 1px solid black;
}

.shadowHover:hover {
  box-shadow: rgba(250, 3, 3, 0.1) 0px 14px 28px, rgba(194, 19, 19, 0.10) 0px 10px 10px;
}

//landing page card style
.cardStyle {
  transition: all 0.5s ease-out;
}

.cardStyle:hover,
.cardStyle:focus {
  background-color: rgb(243, 22, 22);
}

// button {
//   @apply block mx-auto mt-5
// }

//form input width
.inputWidth {
  @apply max-w-full
}

//side bar background picture
.sidebarBg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../public/images/sidebar-1.jpg');
  background-color: rgb(48, 47, 47);
  // background-color: black;
  background-blend-mode: multiply;

  min-height: 100vh;
}

//hover border collor
.hoverBordercolor:hover {
  border: 2px solid #9C27B0;
}

.btn-taxants {
  @apply bg-purple-500 px-3 py-2 rounded hover:bg-purple-700 hover:scale-100 hover:outline-green-400 transition text-[16px]
}

.btn-taxants__red {
  @apply bg-red-600 px-3 py-2 rounded hover:bg-red-700 hover:scale-100 hover:outline-green-400 transition text-[16px]
}



.footerBg{
  background: rgb(237,9,14);
background: linear-gradient(22deg, rgba(237,9,14,0.7399334733893557) 15%, rgba(192,9,237,0.6362920168067228) 44%, rgba(237,9,14,0.7315301120448179) 83%);
};


.ant-form-item-label > label::after {
  
}

.ant-dropdown-trigger {
  @apply text-[#40c25a];
}



// photo gallery antd
.dynamic-delete-button {
  position: relative;
  top: 4px;
  margin: 0 8px;
  color: #999;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s;
}
.dynamic-delete-button:hover {
  color: #777;
}
.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}